<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Flavio_Bookmarks::bookmarks" title="Bootcamp" translate="title" sortOrder="900">
                        <resource id="Flavio_Bookmarks::all_bookmarks" title="All Bookmarks" translate="title">
                            <resource id="Flavio_Bookmarks::all_bookmarks_view" title="View" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
