<li id="doctor-info" class="checkout-doctor-info" data-bind="fadeVisible: isVisible">
    <div id="checkout-step-doctor-info"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <fieldset class="fieldset">
                <legend class="legend">
                    <span data-bind="i18n: 'Doctor\'s Information'"></span>
                </legend>
                <div class="field required">
                    <label class="label" for="doctor-name"><span data-bind="i18n: 'Name'"></span></label>
                    <div class="control _with-tooltip">
                        <input class="input-text"
                               type="text"
                               data-bind="
                                   textInput: doctorName,
                                   attr: {
                                   placeholder: $t('Doctor\'s Name')}"
                               name="doctorName"
                               data-validate="{required:true}"
                               id="doctor-name" />
                    </div>
                </div>
                <div class="field required">
                    <label class="label" for="doctor-phone"><span data-bind="i18n: 'Phone number'"></span></label>
                    <div class="control _with-tooltip">
                        <input class="input-text"
                               type="text"
                               data-bind="
                                   textInput: doctorPhone,
                                   attr: {
                                   placeholder: $t('(999) 999 9999)')}"
                               name="telephone"
                               data-validate="{required:true}"
                               id="doctor-phone" />
                    </div>
                </div>
            </fieldset>
            <div class="primary">
                <button data-role="opc-continue" type="submit" class="button action continue primary">
                    <span translate="'Next'"></span>
                </button>
            </div>
        </form>
    </div>
</li>
