<li id="email" class="checkout-email" data-bind="fadeVisible: isVisible">
    <div id="checkout-step-email"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate" data-role="email-with-possible-login">
            <fieldset class="fieldset">
                <div class="field required">
                    <label class="label" for="email-step-customer-email"><span data-bind="i18n: 'Email'"></span></label>
                    <div class="control _with-tooltip">
                        <input class="input-text"
                               type="text"
                               data-bind="
                                       textInput: emailAddress,
                                       attr: {
                                       placeholder: $t('customer@magentotest.com')}"
                               name="username"
                               data-validate="{required:true, 'validate-email':true}"
                               id="email-step-customer-email" />
                    </div>
                </div>
            </fieldset>
            <div class="primary">
                <button data-role="opc-continue" type="submit" class="button action continue primary">
                    <span translate="'Next'"></span>
                </button>
            </div>
        </form>
    </div>
</li>
